TEST_BUY_AMOUNT=0.0003
TOKEN_TO_BUY_FOR_ANVIL_TEST=0.1

ETHERSCAN_API=https://api.etherscan.io/v2/api
MORALIS_API_KEY=
MORALIS_API=https://deep-index.moralis.io/api/v2.2

# this is disabled for k8 and local, but ENABLED for cloud run
DB_SSL_MODE=disable
DATABASE_URL=postgresql://tokencheck_user:YOUR_PASSWORD@localhost:5432/tokencheck_db

# for authentication and validation
JWT_SECRET=
AUTH_SERVICE_API_KEYS=auth123
SUBS_API_KEY=subs123
SUBS_SERVICE_URL=http://localhost:8081/api

MAX_CONNECTIONS=10
IP=127.0.0.1
PORT=8080
WORKERS=6
JWT_EXPIRATION_HOURS=25
ENABLE_CONSOLE_LOGGING=true

# for api key in encrption , need encryption key to decrypt and encrypt keys
ENCRYPTION_KEY=
GITHUB_CLIENT_ID=
GITHUB_CLIENT_SECRET=
GITHUB_AUTH_URL=https://github.com/login/oauth/authorize
GITHUB_TOKEN_URL=https://github.com/login/oauth/access_token
GITHUB_REDIRECT_URI=http://localhost:8080/api/auth/oauth/github/callback
GOOGLE_CLIENT_ID=
GOOGLE_CLIENT_SECRET=
GOOGLE_AUTH_URL=https://accounts.google.com/o/oauth2/v2/auth
GOOGLE_TOKEN_URL=https://oauth2.googleapis.com/token
GOOGLE_REDIRECT_URI=http://localhost:8080/api/auth/oauth/google/callback
WEB_APP_AUTH_CALLBACK_URL=http://localhost:3000/auth/callback
CORS_ALLOWED_ORIGIN=http://localhost:3000
ENVIRONMENT=development
